colorama>=0.4.6
colorlog>=6.7.0
docx2txt>=0.8.0
fuzzywuzzy>=0.18.0
fuzzysearch>=0.7.3
matplotlib>=3.7.1
numpy>=1.23.5
opencv-python>=4.5.5.64
openpyxl>=3.1.2
pandas>=2.0.0
Pillow>=9.3.0
scipy>=1.10.1
seaborn>=0.12.2
segmentation_models_pytorch>=0.3.3
spacy>=3.6.1
torch>=2.0.0+cu117
torchsummary>=1.5.1
torchvision>=0.20.1
yellowbrick>=1.5
scikit-learn~=1.6.0
tqdm~=4.67.1
pytorch-metric-learning~=2.8.1
scikit-image~=0.25.0
jsonschema~=4.23.0
wandb~=0.19.1